@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;1,200;1,300;1,500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Background-img.svg); 
    background-size: cover;
    height: 100vh;  
}
#card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}
#card-bem-vindo{
    background-color: #23226B;
    border-radius: 16px 0 0 16px;
    color: white;
    height: 95vh;
}  
#menu{
    margin-top: 80%;
    text-align: center;
}
#menu h1{
    font-size: 24px;
    font-weight: 900;   
} 
#menu h4{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}
#menu .btn-entrar{
    margin-top: 30px;
    width: 170px;
    height: 60px;
    color: white;
    background-color: #23226B;
    border-radius: 16px ;
    border: solid 2px white;
    font-weight: 800;
}
#menu h6{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;   
}
#cadastro{
    background-color: white;
    border-radius: 0 16px 16px 0;
    height: 95vh;

}
.container{
    display: flex;
    flex-wrap: wrap;    
}
#titulo h2{
    text-align: center;
    font-weight:900;
    font-size: 24px;
    color:#23226B;
    margin-top: 38px;
}
#sub-titulo h4{
    margin-top: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color:#7C7C7C;
}
.mdi-account{
    font-size: 18px;
    padding: 2px;
    color:#7C7C7C;
}
.mdi-map-marker{
    font-size: 18px;
    padding: 2px;
    color:#7C7C7C;

}
.form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color:#7C7C7C;
    
}
.container input {
    height: 30px;
    background: #EAEAEA;
    

}
#cadastro #btn-cadastrar{
    font-weight: 800;
    margin-top: 24px;
    width: 170px;
    height: 60px;
    color: white;
    background-color: #23226B;
    border-radius: 16px ;
    border: none;
    margin-left: 34%;
}
.form-check-label{
    font-size: 12px;
    margin-top: 11px;
}


